<%= form_with model: @translation, local: true do |form| %>
  
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:
      </h2>
      <ul>
        <% @translation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :key %><br>
    <%= form.text_field :key %>
  </p>

  <p>
    <%= form.label :value %><br>
    <%= form.text_area :value %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>

