<%= render 'shared/headerLinks' %> | 
<%= link_to 'New Translation', new_translation_path, class: 'whiteLink' %>

<h1>Translations</h1>
<br/>

<div class="tableCont">
  <table class="tableFixed">
    <tr>
      <th>ID</th>
      <th>Key</th>
      <th>Value</th>
      <th></th><th></th><th></th> <!-- to exted botton ines to end of table-->
    </tr>
    <br/>

    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.id %></td>
        <td><%= translation.key %></td>
        <td><%= translation.value %></td>
        <td><%= link_to 'Show', translation_path(translation), class: 'whiteLink' %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation), class: 'whiteLink' %></td>
        <td><%= link_to 'Destroy', translation_path(translation), class: 'whiteLink',
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>


<br/><br/><br/>






