
<header class="headLinkCont">
	<%= render 'shared/headerLinks' %>
</header>

	<main class="frame">
		<header class="topGridCont logoCont archD">
  		<%= render 'shared/logo.html.erb' %>
  	</header>	

		<div class="almostDoneCont">
			<p class="largeText"><%= @questTitle.value %></p><br>
			<p class="mediumText"><%= @questInstructions.value %></p>
		</div>

		<div class="questionnaireCont">
			<%= image_tag "quest_temp.jpg", :class => "questImage" %>
		</div>

		<div class="nextContQuest">
			<%= link_to 'Next to Final Step', {controller: 'quest_thank'}, class: 'whiteLink mediumText' %>
		</div>
	
	</main>

<footer class="footerCont">
	<%= render 'shared/footerSmall' %>
</footer>

