
<header class="headLinkCont">
	<%= render 'shared/headerLinks' %>
</header>

<header class="frame">
	<div class="topGridCont logoCont archD">
  		<%= render 'shared/logo.html.erb' %>
	</header>	

	<div class="thankyouCont">
		<p class="largeText"><%= @questThanksTitle.value %></p><br>
		<p class="mediumText"><%= @questThanksInstructions.value %></p>
	</div>

	<div class="videoCont">
		<iframe class="iframeCont" src="https://www.youtube.com/embed/kwffMZScJAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

</div>

<footer class="footerCont">
	<%= render 'shared/footerSmall' %>
</footer>	



