<!DOCTYPE html>
<html>
  <head>    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Architects+Daughter" rel="stylesheet">
      <!-- for icon and arch daughter font-->


    <title>Peoplestack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <!-- media: 'all' says to load all kinds of assets and 'application says to load 'application' in asessts first-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- set up per Devise instructions-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
